body {
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
	background: linear-gradient(to right, #58E9F3 , #F96262); /* Standard syntax */
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
    text-shadow: 3px 1px 10px rgba(0, 0, 0, 0.3);
}

h3 {
	font: 900 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;

}

p {
    font: 600 1em 'Raleway', sans-serif;
}

.color1, .color2 {
    cursor: pointer;
    width: 110px;
    height: 40px;
    border: 1px solid rgba(0,0,0, .7);
    background: rgba(0, 0, 0, 0.7); 
    cursor: pointer;
}

#random {
    font: 600 1em 'Raleway', sans-serif;
    letter-spacing: 0.05em;
    margin-top: 20px;
    padding: 10px 10px;
    border-radius: 10px;
    border: 3px solid rgba(0,0,0,.8);
    background: linear-gradient(to right, rgb(254, 163, 170), rgb(248, 184, 139), rgb(250, 248, 132), rgb(186, 237, 145), rgb(178, 206, 254), rgb(242, 162, 232));
    transition: all 0.2s ease;
    cursor: pointer;
}

#random:hover {
    transform: scale(1.05);
}